<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<h3>验证码表单登录</h3>
<table>
    <tr>
        <td>用户名:</td>
        <td><input type="text" name="mobile"></td>
    </tr>
    <tr>
        <td>验证码:</td>
        <td><input type="password" name="sms_code"></td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="javascript:void(0);" onclick="sendSms()">获取验证码</a>
            <button type="button" onclick="loginSms()">登录</button>
        </td>
    </tr>
</table>
<h3>普通表单登录</h3>
<table>
    <tr>
        <td>用户名:</td>
        <td><input type="text" name="username"></td>
    </tr>
    <tr>
        <td>密码:</td>
        <td><input type="password" name="password"></td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" onclick="login()">登录</button>
        </td>
    </tr>
</table>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script>

    function sendSms() {
        window.location.href = '/sms/code?mobile=' +  $("input[name=mobile]").val();
    }
    
    function loginSms() {
        var mobile = $("input[name=mobile]").val();
        var smsCode = $("input[name=sms_code]").val();
        if (mobile === "" || smsCode === "") {
            alert("用户名或密码不能为空");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/sms/login",
            data: {
                "mobile": mobile,
                "smsCode": smsCode
            },
            success: function (e) {
                console.log(e);
                alert("登陆成功")
                setTimeout(function () {
                    location.href = '/hello';
                }, 500);
            },
            error: function (e,a,b) {
                console.log(a);
                console.log(b);
                console.log(e.responseText);
                alert("登陆失败zxczxczc")
            }
        });
    }


    function login() {
        var username = $("input[name=username]").val();
        var password = $("input[name=password]").val();
        if (username === "" || password === "") {
            alert("用户名或密码不能为空");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/authentication/form",
            data: {
                "username": username,
                "password": password
            },
            success: function (e) {
                console.log(e);
                alert("登陆成功")
                setTimeout(function () {
                    location.href = '/hello';
                }, 500);
            },
            error: function (e,a,b) {
                console.log(a);
                console.log(b);
                console.log(e.responseText);
                alert("登陆失败zxczxczc")
            }
        });
    }


</script>
</body>
</html>